.user-edit-wrapper {
  margin: 0 auto;
  margin-top: calc(50vh - 200px - 60px);
  width: 250px;
  height: 250px;

  .user-edit-login {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    height: 30px;
  }

  .user-edit-form {
    @include flex();
    flex-direction: column;
    gap: 20px;

    .user-edit-form__label {
      position: relative;
      .user-edit-form__input {
        outline: none;
        width: 240px;
      }

      .error {
        display: inline-block;
        color: $errorColor;
        position: absolute;
        left: 0;
        bottom: -20px;
      }
    }

    .user-edit-form__submit {
      margin-top: 15px;
      padding: 0;
      width: 100%;
    }
  }

  .user-edit-delete {
    width: 100%;
    margin-top: 50px;
    color: $backgroundColorBody;
    background-color: $errorColor;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
  }
}