.board-wrapper {
  width: 200px;
  min-height: 180px;
  border: 2px solid $primaryColor;
  border-radius: 10px;
  @include flex(space-between, center);
  flex-direction: column;

  .board-title {
    text-align: center;
    margin-bottom: 0px;
  }
  .board-title,
  .board-description {
    text-align: center;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }

  .board-buttons {
    margin-bottom: 10px;
    @include flex(space-between);
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 10px;

    .board-buttons__delete,
    .board-buttons__go-board,
    .board-buttons__update {
      outline: none;
      border: 1px solid $darkColor;
      border-radius: 4px;
      padding: 2px 5px;
    }

    .board-buttons__go-board {
      color: $lightColor;
      background: $approveColor;
      width: 100%;
    }

    .board-buttons__delete {
      color: $lightColor;
      background: $errorColor;
    }

    .board-buttons__update {
      color: $lightColor;
      background: $updateColor;
    }
  }
}

.update-board-wrapper {
  margin: 0 auto;
  width: 250px;
  height: 290px;

  .update-board-header {
    text-align: center
  }

  .update-board-form {
    @include flex();
    flex-direction: column;
    gap: 20px;

    .update-board-form__label {
      position: relative;
      .update-board-form__input {
        outline: none;
        width: 240px;
      }
      
      .update-board-form__textarea {
        width: 242px;
        height: 150px;
        outline: none;
        resize: none;
      }

      .error {
        display: inline-block;
        color: $errorColor;
        position: absolute;
        left: 0;
        bottom: -20px;
      }
    }

    .update-board-form__submit {
      margin-top: 15px 0;
      padding: 0;
      width: 100%;
    }
  }
}