.welcome-page {
  @include flex(space-around, center);
  .welcome-page__title {
    width: 400px;
    h1 {
      @include font(2rem);
    }
    p {
      @include font(1.2rem);
    }
  }

  .welcome-page__img {
    width: 600px;
    img {
      width: 100%;
      height: auto;
    }
  }
}